APP_ENV=development
APP_NAME="サンプルテストサイト"
APP_URL="https://umeoka.sixcore.jp"

DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=coolingshop
DB_USER=root
DB_PASS=
DB_CHARSET=utf8mb4

MAIL_FROM="info@umeoka.sixcore.jp"
MAIL_TO="info@umeoka.sixcore.jp"
PAYPAL_PAYMENT_URL_TEMPLATE="https://umeoka.sixcore.jp/cart/expresscheckout2.php?s={order_id}&u={user_id}"
PAYPAL_API_MODE="live"
PAYPAL_API_USERNAME=""
PAYPAL_API_PASSWORD=""
PAYPAL_API_SIGNATURE=""
PAYPAL_API_VERSION=124
COOLPOINT_RATE_MEMBER=0.01
COOLPOINT_RATE_BIZ=0.02
SPECIAL_MEMBER_APPROVAL_BONUS=1000
ORDER_SHIPPING_FEE=0
ORDER_COD_FEE=500

ADMIN_USER=admin
ADMIN_PASS=change-me
